[user]
	name = higuchi-yuya-ab
	email = higuchi_yuya@applibot.co.jp

[include]
	path = ~/.gitconfig.local
[url "git@github.com:applibot-inc/"]
	insteadOf = https://github.com/applibot-inc/
[url "git@github.com:applibot-dx/epoch-"]
	insteadOf = https://github.com/applibot-dx/epoch-
