[user]
	name = {{ .name }}
	email = {{ .email }}
[url "git@github.com:applibot-inc/"]
	insteadOf = https://github.com/applibot-inc/
[url "git@github.com:applibot-dx/epoch-"]
	insteadOf = https://github.com/applibot-dx/epoch-
