# Alacritty Configuration
# テンプレート化されたAlacritty設定ファイル

[window]
padding = { x = 10, y = 10 }
decorations = "full"
title = "Terminal"
dynamic_title = true

[font]
size = 14.0

[font.normal]
family = "JetBrains Mono"
style = "Regular"

[font.bold]
family = "JetBrains Mono"
style = "Bold"

[font.italic]
family = "JetBrains Mono"
style = "Italic"

[colors]
# 基本的なカラーテーマ
[colors.primary]
background = "#1e1e2e"
foreground = "#cdd6f4"

[colors.normal]
black = "#45475a"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#bac2de"

[colors.bright]
black = "#585b70"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#a6adc8"

[shell]
{{- if eq .chezmoi.os "darwin" }}
program = "/bin/zsh"
{{- else if eq .chezmoi.os "linux" }}
program = "/bin/bash"
{{- else }}
program = "/bin/sh"
{{- end }}
args = ["--login"]
